body {
    background-color: rgb(117, 132, 106);
    overflow: hidden;
}

textarea {
    min-width: 50vw;
    max-width: 90vw;
    min-height: 150px;
    max-height: 300px;
}

button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.input-label {
    display: block;
    text-align: center;
}

.danger {
    color: #B22323;
}

.history-table {
    display: flex;
    max-width: 90vw;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.history-list-item {
    display: flex;
    justify-content: space-between;
}

.history-list-item > span {
    text-align: start;
    word-break: break-all;
    max-width: 300px;
}

.scroll {
    overflow-y: scroll;
    max-height: 50vh;
}
